### Using SQLite and Python

In [1]:
import sqlite3
import pandas as pd
conn = sqlite3.connect("factbook.db")

### Query database

In [4]:
q = "select * from sqlite_master where type='table'"
pd.read_sql_query(q, conn)

,type,name,tbl_name,rootpage,sql
0,table,sqlite_sequence,sqlite_sequence,3,"CREATE TABLE sqlite_sequence(name,seq)"
1,table,facts,facts,47,"CREATE TABLE ""facts"" (""id"" INTEGER PRIMARY KEY..."

### Write query that returns min(population), max(population), min(population_growth), max(population_growth) from facts table

In [5]:
r = "select min(population), max(population), min(population_growth), max(population_growth) from facts"
pd.read_sql_query(r, conn)

,min(population),max(population),min(population_growth),max(population_growth)
0,0,7256490011,0.0,4.02

### Max population and min population looked incorrect so I wrote extra query to verify data

In [6]:
s = "select * from facts"
pd.read_sql_query(s, conn)

,id,code,name,area,area_land,area_water,population,population_growth,birth_rate,death_rate,migration_rate
0,1,af,Afghanistan,652230.0,652230.0,0.0,3.256434e+07,2.32,38.57,13.89,1.51
1,2,al,Albania,28748.0,27398.0,1350.0,3.029278e+06,0.30,12.92,6.58,3.30
2,3,ag,Algeria,2381741.0,2381741.0,0.0,3.954217e+07,1.84,23.67,4.31,0.92
3,4,an,Andorra,468.0,468.0,0.0,8.558000e+04,0.12,8.13,6.96,0.00
4,5,ao,Angola,1246700.0,1246700.0,0.0,1.962535e+07,2.78,38.78,11.49,0.46
5,6,ac,Antigua and Barbuda,442.0,442.0,0.0,9.243600e+04,1.24,15.85,5.69,2.21
6,7,ar,Argentina,2780400.0,2736690.0,43710.0,4.343189e+07,0.93,16.64,7.33,0.00
7,8,am,Armenia,29743.0,28203.0,1540.0,3.056382e+06,0.15,13.61,9.34,5.80
8,9,as,Australia,7741220.0,7682300.0,58920.0,2.275101e+07,1.07,12.15,7.14,5.65
9,10,au,Austria,83871.0,82445.0,1426.0,8.665550e+06,0.55,9.41,9.42,5.56
10,11,aj,Azerbaijan,86600.0,82629.0,3971.0,9.780780e+06,0.96,16.64,7.07,0.00
11,12,bf,"Bahamas, The",13880.0,10010.0,3870.0,3.245970e+05,0.85,15.50,7.05,0.00
12,13,ba,Bahrain,760.0,760.0,0.0,1.346613e+06,2.41,13.66,2.69,13.09
13,14,bg,Bangladesh,148460.0,130170.0,18290.0,1.689577e+08,1.60,21.14,5.61,0.46
14,15,bb,Barbados,430.0,430.0,0.0,2.906040e+05,0.31,11.87,8.44,0.30
15,16,bo,Belarus,207600.0,202900.0,4700.0,9.589689e+06,0.20,10.70,13.36,0.70
16,17,be,Belgium,30528.0,30278.0,250.0,1.132397e+07,0.76,11.41,9.63,5.87
17,18,bh,Belize,22966.0,22806.0,160.0,3.473690e+05,1.87,24.68,5.97,0.00
18,19,bn,Benin,112622.0,110622.0,2000.0,1.044865e+07,2.78,36.02,8.21,0.00
19,20,bt,Bhutan,38394.0,38394.0,0.0,7.419190e+05,1.11,17.78,6.69,0.00
20,21,bl,Bolivia,1098581.0,1083301.0,15280.0,1.080088e+07,1.56,22.76,6.52,0.62
21,22,bk,Bosnia and Herzegovina,51197.0,51187.0,10.0,3.867055e+06,0.13,8.87,9.75,0.38
22,23,bc,Botswana,581730.0,566730.0,15000.0,2.182719e+06,1.21,20.96,13.39,4.56
23,24,br,Brazil,8515770.0,8358140.0,157630.0,2.042598e+08,0.77,14.46,6.58,0.14
24,25,bx,Brunei,5765.0,5265.0,500.0,4.296460e+05,1.62,17.32,3.52,2.43
25,26,bu,Bulgaria,110879.0,108489.0,2390.0,7.186893e+06,0.58,8.92,14.44,0.29
26,27,uv,Burkina Faso,274200.0,273800.0,400.0,1.893169e+07,3.03,42.03,11.72,0.00
27,28,bm,Burma,676578.0,653508.0,23070.0,5.632021e+07,1.01,18.39,7.96,0.28
28,29,by,Burundi,27830.0,25680.0,2150.0,1.074228e+07,3.28,42.01,9.27,0.00
29,30,cb,Cambodia,181035.0,176515.0,4520.0,1.570876e+07,1.58,23.83,7.68,0.32
...,...,...,...,...,...,...,...,...,...,...,...
231,232,fk,Falkland Islands (Islas Malvinas),12173.0,12173.0,0.0,3.361000e+03,0.01,10.90,4.90,NaN
232,233,gi,Gibraltar,6.0,6.0,0.0,2.925800e+04,0.24,14.08,8.37,3.28
233,234,gk,Guernsey,78.0,78.0,0.0,6.608000e+04,0.34,9.84,8.78,2.32
234,235,je,Jersey,116.0,116.0,0.0,9.729400e+04,0.80,11.91,7.68,3.76
235,236,im,Isle of Man,572.0,572.0,0.0,8.754500e+04,0.76,11.10,10.06,6.56
236,237,mh,Montserrat,102.0,102.0,0.0,5.241000e+03,0.50,11.26,6.30,0.00
237,238,pc,Pitcairn Islands,47.0,47.0,0.0,4.800000e+01,0.00,NaN,NaN,NaN
238,239,sh,"Saint Helena, Ascension, and Tristan da Cunha",308.0,122.0,0.0,7.795000e+03,0.24,9.88,7.44,0.00
239,240,sx,South Georgia and South Sandwich Islands,3903.0,3903.0,0.0,NaN,NaN,NaN,NaN,NaN
240,241,tk,Turks and Caicos Islands,948.0,948.0,0.0,5.028000e+04,2.30,16.13,3.10,9.94
241,242,aq,American Samoa,199.0,199.0,0.0,5.434300e+04,0.30,22.89,4.75,21.13
242,243,gq,Guam,544.0,544.0,0.0,1.617850e+05,0.54,16.82,5.12,6.34
243,244,bq,Navassa Island,5.0,5.0,0.0,NaN,NaN,NaN,NaN,NaN
244,245,cq,Northern Mariana Islands,464.0,464.0,0.0,5.234400e+04,2.18,18.32,3.71,7.16
245,246,rq,Puerto Rico,13791.0,8870.0,4921.0,3.598357e+06,0.60,10.86,8.67,8.15
246,247,vq,Virgin Islands,1910.0,346.0,1564.0,1.035740e+05,0.59,10.31,8.54,7.67
247,248,wq,Wake Island,6.0,6.0,0.0,NaN,NaN,NaN,NaN,NaN
248,249,um,United States Pacific Island Wildlife Refuges,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
249,250,ay,Antarctica,NaN,280000.0,NaN,0.000000e+00,NaN,NaN,NaN,NaN
250,251,gz,Gaza Strip,360.0,360.0,0.0,1.869055e+06,2.81,31.11,3.04,0.00
251,252,pf,Paracel Islands,7.0,7.0,0.0,NaN,NaN,NaN,NaN,NaN
252,253,pg,Spratly Islands,5.0,5.0,0.0,NaN,NaN,NaN,NaN,NaN
253,254,we,West Bank,5860.0,5640.0,220.0,2.785366e+06,1.95,22.99,3.50,0.00
254,255,wi,Western Sahara,266000.0,266000.0,0.0,5.708660e+05,2.82,30.24,8.34,NaN
255,256,xq,Arctic Ocean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
256,257,zh,Atlantic Ocean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
257,258,xo,Indian Ocean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
258,259,zn,Pacific Ocean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
259,260,oo,Southern Ocean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
260,261,xx,World,NaN,NaN,NaN,7.256490e+09,1.08,18.60,7.80,NaN

### Max population row with over 7 billion is world row, Min population with 0 is Antartica